@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-600: #374cf4;
  --blue-800: #222fa0;
  --torea-bay-100: #ddebff;
  --torea-bay-700: #2a3ad8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-hover {
  background-color: var(--background);
  transition: background 0.5s ease-in-out;
}

.gradient-hover:hover {
  background: linear-gradient(
    to right,
    var(--torea-bay-100),
    var(--background)
  );
}
